<h2> Angular Pipes demo</h2>
<p>{{ today | date: 'fulldate' }}</p>
<h2> order list</h2>
<div *ngFor="let order of data$ | async">
  <p><b>Order ID:</b> {{ order.id }}</p>
  <p><b>Product:</b> {{ order.productName }}</p>
  <p><b>Price:</b> {{ order.price }}</p>
  <p><b>Status:</b> {{ order.status }}</p>
  <hr>
</div>
<div *ngFor = "let item of product | keyvalue" class="card">

  <p [ngStyle] = "{fontweight: 'bold'}">{{ item.key | uppercase }}</p>
  <p [ngClass] = "{'highlight': item.key === 'price'}">{{ item.value }}</p>

</div>
<p>{{product.price | customCurrency }}</p>